<fieldset
    id="contact-more"
    class=<%= selected === 'contact' ? '' : 'hidden'%>
    aria-hidden=<%= selected === 'contact' ? 'true' : 'false'%>
>
    <div class="form-group">
        <label for="nonprofit">Nonprofit Name</label>
        <input id="nonprofit" name="nonprofit" type="text" class="form-control">
    </div>
</fieldset>