<fieldset
  id="contact-more"
  class=<%= selected === 'contact' ? '' : 'hidden'%>
  aria-hidden=<%= selected === 'contact' ? 'true' : 'false'%>
>
  <span class="help-block">
    Note: If your nonprofit already has an account, ask your coworker for an invite link.
  </span>
  <div class="input-group">
    <label for="phoneSecondary">Secondary Phone number</label>
    <input name="phoneSecondary" type="tel" id="phoneSecondary" class="form-control">
  </div>
  <div>Secondary Phone Type</div>
  <div class="radio">
    <label>
      <input name="phoneSecondaryType" type="radio" value="mobile" aria-label="Mobile">
      Mobile
    </label>
  </div>
  <div class="radio">
    <label>
      <input name="phoneSecondaryType" type="radio" value="office" aria-label="Office">
      Office
    </label>
  </div>
  <h3>Nonprofit Information</h3>
  <div>
    <div class="form-group">
      <label for="nonprofit_name">Nonprofit Name</label>
      <input id="nonprofit_name" name="nonprofit_name" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="nonprofit_description">Short Description</label>
      <textarea name="nonprofit_description" class="form-control" rows="3"></textarea>
    </div>
  </div>
</fieldset>
