<fieldset
    id="contact-more"
    class=<%= selected === 'contact' ? '' : 'hidden'%>
    aria-hidden=<%= selected === 'contact' ? 'true' : 'false'%>
>
    <div class="form-group">
        <label for="nonprofit">Nonprofit Name</label>
        <input id="nonprofit" name="nonprofit" type="text" class="form-control">
    </div>
    <div class="input-group">
        <label for="phone">Secondary Phone number</label>
        <input name="phone" type="tel" id="phone" class="form-control">
    </div>
    <div class="input-group">
        <label for="role">Secondary Phone Type</label>
        <div class="input-group">
            <input type="radio" value="mobile" aria-label="Mobile">Mobile
        </div>
        <div class="input-group">
            <input type="radio" value="office" aria-label="Office">Office
        </div>
    </div>
</fieldset>