$color-lightblue: lightblue;
$color-black: #201A16;
$color-gray-light: #F0F0F0;
$color-white: #ffffff;

$color-accent: $color-lightblue;

$font-heading: Futura, "Helvetica Neue", helvetica, sans-serif;
$font-copy: Geneva, Verdana, helvetica, sans-serif;
