$color-lightblue: #add8e6;
$color-black: #201a16;
$color-gray-light: #f0f0f0;
$color-white: #fff;

$color-accent: $color-lightblue;

$font-heading: Futura, 'Helvetica Neue', helvetica, sans-serif;
$font-copy: Geneva, Verdana, helvetica, sans-serif;

$fs-0: 18px;
$fs-1: 1.15 * $fs-0;
$fs-2: 1.3 * $fs-0;
$fs-3: 1.5 * $fs-0;
$fs-4: 2.5 * $fs-0;
