@import 'client/styles/variables.scss';

.header {
  background-color: $color-black;
  color: $color-white;
  padding: 15px;

  &__img, &__title {
    display: inline-block;
    vertical-align: middle;
  }

  &__{
    padding: 0;
  }
  &__img {
    box-sizing: border-box;
    height: 50px;

    img {
      height: 100%;
    }
  }
}
