@import 'client/styles/variables.scss';

.header {
  align-items: center;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  &__img {
    box-sizing: border-box;
    height: 50px;

    img {
      height: 100%;
    }
  }

  &__profile-picture {

  }
}
