<!doctype html>
<html lang="en">
<head>
  <% include ./partials/head %>
  <style>
  .login__container {
    margin: 0 auto;
    width: 200px;
  }

  </style>
</head>
<body>
  <h1>Welcome to Gramforacause</h1>
  <div class="login__container">
    <h2>Change Password</h2>
    <form action="/change-password" method="POST">
      <input type="hidden" name="token" value="<%= token %>">
      <input type="hidden" name="email" value="<%= email %>">
      <label for="password">
        New Password:
        <input type="password" name="password">
      </label>
      <label for="password">
        Confirm Password:
        <input type="password" name="confirm">
      </label>
      <button class="btn">Change Password</button>
    </form>
  </div>
</body>
</html>
