<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Email Success | Gramforacause</title>
</head>
<body>
  <h1>Forgot password</h1>
  <div>
    <p>
      You can close this tab now.
    </p>
    <p>
      An email has been sent to <%= email || 'you' %>.
    </p>
    <!-- TODO Contact us email! -->
    <p>
      If you don't receive an email in 10 minutes, please contact us for help.
    </p>
  </div>
</body>
</html>
