<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Forgot Password | Gramforacause</title>
</head>
<body>
  <h1>Forgot your password?</h1>
  <div>
    Let's see if we can help...
  </div>
  <form action="/forgot-password" method="POST">
    <label for="email">
      Email:
      <input type="text" name="email">
    </label>
    <button class="btn">Login</button>
  </form>
</body>
</html>
