@import 'client/styles/variables';

.user-mini {
  align-items: center;
  background-color: $color-gray-light;
  border: 1px solid $color-black;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  padding: {
    bottom: .5em;
    left: .5em;
    right: 1em;
    top: .5em;
  }

  &__picture {
    margin-right: 1em;
  }
}
